*.json
*.json.gz
index

0011 John      Smith   
0001 John      Smith   
0002 Emily     Brown   
0003 David     Lee     
0004 Sarah     Kim     
0012 Sarah     Kim       9500.50
0005 Michael   Davis   
0013 Michael   Davis   
0006 Jessica   Jones   
0007 Steven    Clark   
0008 Maria     Hernande
0014 Maria     Hernande
0009 Jacob     Patel   
0010 Rachel    Garcia  
0015 Rachel    Garcia  